/* ----------------------- CUERPO, BARRA DE NAVEGACION (LOGO Y LINKS) ----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #011C41;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header {
    background-color: #f8f9fa;
}
.logo-img {
    margin-top: -26px;
}
.navbar{
    z-index: 2;
}
.navbar-brand{
    margin-top: 13px;
}
.nav-tabs .nav-link{
    border: 1px solid #e5e5eb;
    background-color: white !important;
} 

.navbar-light .navbar-toggler {
    background-color: white;
    z-index: 10;
}

ul.nav a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
    color: white;
}

.logo {
    margin-top: 100px;
    width: 80% !important;
}

.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
 
/*----------BANNER------------*/
.banner-bg {
    background-color: #011C41;
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.video-banner{
    margin-top: 100px;
    width: 80%;
}
.hero-img{
    position: relative;
    bottom: -45px;
}
/* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
    background-color: #001c41;
    color: #ffffff;
    position: relative;
}

.redes-sociales{
    display:flex;
    justify-content:stretch;
    justify-content: center;
    border-left: 2px solid white;
}

.socialmedia{
    position: absolute;
    right: 0;
    bottom: 0;
}

footer a, footer a:visited, footer a:active{
    color: #ffffff;
    font-weight: 400;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
/* mantiene el logo de gob en el bottom de la pagina */
.vertical-align-bottom{
    position: absolute;
    bottom: 0;
}
.border-btm {
    border-bottom: 1px solid #063b75 !important;
}
/* ----------------------- REDES SOCIALES ----------------------- */
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-linkedin {
    padding: 5px 8px;
    font-size: 1.2rem;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}


.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}



@media (max-width: 712px){
    .video-banner{
        margin-top: 50px;
        width: 90%;
    }
}