.info{
    border-left: 4px solid #011C41;
    padding: 0 40px;
}

/* EJES*/
.bg-ejes{
    background-color: #EDEDED;
}
.btn-eje {
    cursor: pointer;
    background-color: inherit;
    padding: 0;
    border: none;
    transition: all .5s ease;
}
.btn-eje:hover{
    transform: scale(1.1);
}

button:focus{
    outline: none !important;
}
.modal-contentt {
    border: none !important;
    background-color: #EDEDED !important;
}
/*-----------ACORDEONES------------*/
/* GENERAL*/
button.acordion {
    background-color: #ededed;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 1s;
    position: relative;
    margin-bottom: 5px;
    padding: 0 45px 0 0;
}
button.acordion:after {
    font-family: FontAwesome;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 1.75rem;
    content: '\f107';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
button.acordion.active:after {
    font-family: FontAwesome;
    content: "\f106";
    font-weight: bold;
    transition: all .5s  ease;
}

button.acordion .children {
    display: grid !important;
    grid-template-columns: 10% 90%;
    justify-content: flex-start;
    align-items: center;
    min-height: 80px;
}
div.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1.125rem;
    margin-bottom: 10px;
    width: 100%;
}
div.panel-child{
    padding: 2rem 3rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.letra {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.number{
    font-family: 'AmsiPro-Ultra';
    font-size: 5rem;
    font-weight: 800;
    display: flex;
    align-items: center;
}
.panel-child ul.orange > li, .panel-child ul.yellow > li, .panel-child ul.sustentabilidad > li, .panel-child ul.green > li, .panel-child ul.extra > li, .panel-child ol.orange > li{ 
    list-style: none;
    font-size: 1.3rem;
} 
/* Eje 1 VACUNACION*/
.border-eje1 {
    border-top: 15px solid #F3BE5B;
    padding-top: 2rem;
}

button.vacunacion {
    border: 3px solid  #F3BE5B !important;
}

button.acordion.vacunacion:after {
    color: #F3BE5B ;
}
.panel1{
    background-color: #EDEDED !important;
}
.letra1{
    background-color: #F3BE5B; 
 }
 h3.acordion-title-eje1{
    color: #F3BE5B;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 20px;
}
.panel-child ol.salmonnumber > li {
    list-style-type: none;
    counter-increment: number; 
    position: relative;
/*     margin-bottom: 2rem; */
    padding-left: 5px;
}
.salmonnumber > li > :first-child {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    
}
.panel-child ol.salmonnumber > li::before {
    color: white;
    background-color: #F3BE5B;
    content: counter(number) "."; 
    left: -53px;
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
    text-align: right;
    padding: 5px 10px;
    margin: 0 10px .5rem 0;
    border-radius: .5rem;
}

.panel-child ul{
    padding:0;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    list-style-type: none;
}
.panel-child ul li ul li {
    margin: 10px 0 10px 50px;
}
a.btn.btn-success.d-block.btn-lg {
    margin-bottom: 22px;
}
.panel-child ul.salmon > li::before { 
    content: "\2022"; 
    color: #F3BE5B;
    display: inline-block;
    padding-right: 10px;
    font-size: 3rem;
    line-height: 2.2rem;
}
.panel-child ol.salmon li {
    counter-increment: lista;
    list-style: none;
}
.panel-child ol.salmon li::before {
    color: #F3BE5B;
    content: counter(lista, lower-alpha) ")";
    font-weight: bold;
    display: inline-block;
    padding-right: 10px;
    font-size: 1.3rem;
}

.btn-success {
    color: #fff;
    background-color: #F3BE5B !important;
    border-color: #F3BE5B !important;
}

/* Eje 2 INVERSION*/
.border-eje2 {
    border-top: 15px solid #2B9C68;
    padding-top: 2rem;
}

button.inversion {
    border: 3px solid  #2B9C68 !important;
}

button.acordion.inversion:after {
    color: #2B9C68 ;
}
.panel1{
    background-color: #EDEDED !important;
}
.letra2{
    background-color: #2B9C68; 
 }
 h3.acordion-title-eje2{
    color: #2B9C68;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 20px;
}
.panel-child ol.greennumber > li {
    list-style-type: none;
    counter-increment: number; 
    position: relative;
/*     margin-bottom: 2rem; */
    padding-left: 5px;
}
.greennumber > li > :first-child {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}
.panel-child ol.greennumber > li::before {
    color: white;
    background-color: #2B9C68;
    content: counter(number) "."; 
    left: -53px;
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
    text-align: right;
    padding: 5px 10px;
    margin: 0 10px .5rem 0;
    border-radius: .5rem;
}

.panel-child ul{
    padding:0;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.panel-child ul li ul li {
    margin: 10px 0 10px 50px;
}
a.btn.btn-success.d-block.btn-lg {
    margin-bottom: 22px;
}
.panel-child ul.green > li::before { 
    content: "\2022"; 
    color: #2B9C68;
    display: inline-block;
    padding-right: 10px;
    font-size: 3rem;
    line-height: 2.2rem;
    
}
.panel-child ol.green li {
    counter-increment: lista;
    list-style: none;
}
.panel-child ol.green li::before {
    color: #2B9C68;
    content: counter(lista, lower-alpha) ")";
    font-weight: bold;
    display: inline-block;
    padding-right: 10px;
    font-size: 1.3rem;
}
.sustentabilidad-bg {
    background-color: #2B9C68;
    color: white;
    text-decoration: underline;
}
.btn-success {
    color: #fff;
    background-color: #2B9C68 !important;
    border-color: #2B9C68 !important;
}
/* Eje 3 SUBSIDIO*/

.border-eje3 {
    border-top: 15px solid #CC5A46;
    padding-top: 2rem;
}

button.subsidio {
    border: 3px solid  #CC5A46 !important;
}

button.acordion.subsidio:after {
    color: #CC5A46 ;
}

.letra3{
    background-color: #CC5A46; 
 }
 h3.acordion-title-eje3{
    color: #CC5A46;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 20px;
}
.panel-child ol.orangenumber > li {
    list-style-type: none;
    counter-increment: number; 
    position: relative;
/*     margin-bottom: 2rem; */
    padding-left: 5px;
}
.orangenumber > li > :first-child {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}
.panel-child ol.orangenumber > li::before {
    color: white;
    background-color: #CC5A46;
    content: counter(number) "."; 
    left: -53px;
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
    text-align: right;
    padding: 5px 10px;
    margin: 0 10px .5rem 0;
    border-radius: .5rem;
}

.panel-child ul{
    padding:0;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.panel-child ul li ul li {
    margin: 10px 0 10px 50px;
}

.panel-child ul.orange > li::before { 
    content: "\2022"; 
    color: #CC5A46;
    display: inline-block;
    padding-right: 10px;
    font-size: 3rem;
    line-height: 2.2rem;
   
}
.panel-child ol.orange li {
    counter-increment: lista;
}
.panel-child ol.orange li::before {
    color: #CC5A46;
    content: counter(lista, lower-alpha) ")";
    font-weight: bold;
    display: inline-block;
    padding-right: 10px;
    font-size: 1.3rem;
}

/* Eje 4 PYMES*/
.border-eje4 {
    border-top: 15px solid #D1C344;
    padding-top: 2rem;
}

button.pyme {
    border: 3px solid  #D1C344 !important;
}

button.acordion.pyme:after {
    color: #D1C344 ;
}
.panel1{
    background-color: #EDEDED !important;
}
.letra4{
    background-color: #D1C344; 
 }
 h3.acordion-title-eje4{
    color: #D1C344;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 20px;
}
.panel-child ol.yellownumber > li {
    list-style-type: none;
    counter-increment: number; 
    position: relative;
/*     margin-bottom: 2rem; */
    padding-left: 5px;
}
.yellownumber > li > :first-child {
    font-size: 1.3rem;
    display: flex;
    
    align-items: center;
}
.panel-child ol.yellownumber > li::before {
    color: white;
    background-color: #D1C344;
    content: counter(number) "."; 
    left: -53px;
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
    text-align: right;
    padding: 5px 10px;
    margin: 0 10px .5rem 0;
    border-radius: .5rem;
}

.panel-child ul{
    padding:0;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.panel-child ul li ul li {
    margin: 10px 0 10px 50px;
}

.panel-child ul.yellow > li::before { 
    content: "\2022"; 
    color: #D1C344;
    display: inline-block;
    padding-right: 10px;
    font-size: 3rem;
    line-height: 2.2rem;
    
}
.panel-child ol.yellow li {
    counter-increment: lista;
}
.panel-child ol.yellow li::before {
    color: #D1C344;
    content: counter(lista, lower-alpha) ")";
    font-weight: bold;
    display: inline-block;
    padding-right: 10px;
    font-size: 1.3rem;
}

/*-MEDIA QUERYS-*/
@media (max-width: 768px) {
    .info{
        padding: 10px;
        font-size: 12px;
    }
    .btn{
        font-size: 14px !important;
    }
  
}
@media (max-width: 500px) {
    .gob-txt{
        visibility:none;
        display: none;
    }
    div.panel-child {
        padding: 14px;
    }
    button.acordion .children {
        grid-template-columns: 20% 90%;
    }
    h3.acordion-title-eje1, h3.acordion-title-eje2, h3.acordion-title-eje3, h3.acordion-title-eje4  {
        font-size: 1rem;
    } 
}