.col-grid{
    display: grid;
    grid-template-columns: 70px auto;
    grid-column-gap: 10px;
  
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: inherit;
}
.contenedor{
    width: 100%;
}
.regionesChile:hover{
    opacity: 0.6;
}
.regionesChile {
    opacity: 1;
    z-index: 5;
    position: relative;
    padding: 0;
}

.reg1 img{
    width: 27px;
}
.reg1b{
    top: -3px;
    left: 2px;
}
.reg1b img{
    width: 30px;
}
.reg2{
    top: -11px;
    left: -1px;
}
.reg2 img{
    width: 46px;
}
.reg3{
    top: -20px;
    left: -13px;
}
.reg3 img{
    width: 45px;
}
.reg4{
    top: -31px;
    left: -18px;
}
.reg4 img{
    width: 30px;
}
.reg5{
    top: -36px;
    left: -21px;
}
.reg5 img{
    width: 30px;
}
.regm{
    top: -57px;
    left: -18px;
}
.regm img{
    width: 35px;
}

.reg6{
    top: -67px;
    left: -25px;
}
.reg6 img{
    width: 36px;
}
.reg7{
    top: -72px;
    left: -34px;
}
.reg7 img{
    width: 37px;
}
.reg8a{
    top: -83px;
    left: -36px;
}
.reg8a img{
    width: 34px;
}

.reg8b{
    top: -97px;
    left: -46px;
}
.reg8b img{
    width: 38px;
}
.reg9{
    top: -112px;
    left: -44px;
}
.reg9 img{
    width: 40px;
}
.reg10a{
    top: -117px;
    left: -52px;
}
.reg10a img{
    width: 39px;
}
.reg10b{
    top: -123px;
    left: -55px;
}
.reg10b img{
    width: 42px;
}

.reg11{
    top: -129px;
    left: -59px;
}
.reg11 img{
    width: 50px;
}
.reg12{
    top: -134px;
    left: -50px;
}
.reg12 img{
    width: 78px;
}








