
/*------------COLLAPSE-----------*/
.activo{
background-color: #7B98D8;
height: 50px;
border-radius: 2.25rem !important;
text-align: center;
line-height: 34px;
}

.btn-collapse:hover{
    background-color: #011C41;
    border-radius: 2.25rem;
}
.contenido-collapse{
    display: grid;
    justify-content: center;
    grid-column-gap: 20px;
    grid-template-columns: 300px 300px 300px;
}
.nav-pills .activo.active, .nav-pills .show>.nav-link {
    background-color: #011C41;
}
@font-face{
    font-family: 'AmsiPro-Ultra';
    src: url('https://cdn.digital.gob.cl/public_files/fonts/AmsiPro/AmsiPro-Ultra.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'AmsiPro-Light';
    src: url('https://cdn.digital.gob.cl/public_files/fonts/AmsiPro/AmsiPro-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*--------CONTADOR DE AYUDAS----------*/
.btn-ayudas {
    padding: 30px;
    margin: 20px;
    background-color: #011C41;
    color: #FFFFFF;
    text-align: center;
}
.btn-ayudas:hover {
    background-color: #092b59;
}
/*NOTICIAS*/
.title-notas{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 80px 100px;
}

article {
    display: grid !important;
    font-family: 'AmsiPro-Light';
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #A3A3A373;
    align-content: space-between;
    grid-row-gap: 10px;
    grid-template-areas:
        'imagen imagen'
        'fuente date'
        'title title'
        'bajada bajada'
        'link link';
    grid-auto-rows: auto auto auto auto;
}
article > h3{
    color: #0080FF;
    font-size: 1.2rem;
    grid-area: title;
}
article > p{
    grid-area: bajada;
}
.imagen{
    grid-area: imagen;
}
.fuente{
    text-transform: uppercase;
    font-family: 'AmsiPro-Ultra';
    grid-area: fuente;
}
time{
   color: #B1B1B1;
   grid-area: date;
   text-align: right;
}
article a {
    font-size:1.2rem !important;
    grid-area: link;
    text-align: right;
}
article a:after {
    font-family: FontAwesome;
    content: '\f061';
    margin-left: 10px;
    vertical-align: middle;
}
@media (max-width: 768px) {
    .btn-collapse{
        font-size: 10px;
    }
    .contenido-collapse{
        grid-column-gap: 5px;
        grid-template-columns: 90px 90px 90px;
    }
    .activo{
        line-height: 16px;
    }

    .btn-ayudas {
        margin:0;
    }
}
